@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
}

body {
  font-family: "Zen Koku Gothic Antique", sans-serif;
  color: black;
}

button {
  border-radius: 1rem;
  border: 1px solid black;
  font-family: inherit;
  font-size: 1.1rem;
  cursor: pointer;
  color: white;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5rem;
  background-color: rgb(88, 46, 33);
  color: white;
  font-size: 2rem;
}

.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.cart-btn {
  height: 3rem;
  width: 3rem;
  background-color: transparent;
  border: none;
}

.cart-btn:hover {
  transform: scale(1.2);
}

.cart-dropdown {
  position: absolute;
  top: 5rem;
  right: 0.5rem;
  max-height: 70rem;
  width: 29rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 25px 40px rgba(88, 46, 33, 0.322);
}

.cart-title {
  color: black;
}

.cart-dropdown button {
  width: 75%;
  padding: 1rem;
}

.cart-dropdown button:hover {
  transform: scale(1.2);
}

.cart-number {
  position: absolute;
  height: 1.3rem;
  width: 1.3rem;
  margin-top: -0.7rem;
  margin-left: 1.5rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.692);
  text-align: center;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  gap: 2rem;
}

.img-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-radius: 1rem;
}

.shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shop-title {
  font-size: 3rem;
  margin-bottom: 5rem;
}

.shop-grids {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  grid-gap: 1rem;
}

.shop-grid {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border: 1px solid rgb(88, 46, 33);
}

#key-0 .fa-wine-bottle {
  color: red;
}

#key-1 .fa-wine-bottle {
  color: orange;
}

#key-2 .fa-wine-bottle {
  color: yellow;
}

#key-3 .fa-wine-bottle {
  color: green;
}

#key-4 .fa-wine-bottle {
  color: blue;
}

#key-5 .fa-wine-bottle {
  color: violet;
}

.fa-wine-bottle {
  font-size: 5rem;
}

.abv-region {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.add-btn {
  height: 2rem;
  width: 2rem;
  padding: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(88, 46, 33);
}

.add-btn > * {
  pointer-events: none;
}

.add-btn:hover {
  transform: scale(1.2);
}

.cart-item-list {
  position: relative;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.cart-item {
  color: black;
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cart-item li {
  list-style: none;
}

.cart-total {
  color: black;
}

.clear-btn {
  background-color: rgba(192, 50, 50, 0.514);
}

.checkout-btn {
  background-color: rgb(18, 85, 18);
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}

.fa-github {
  font-size: 2rem;
  color: rgb(88, 46, 33);
}

.fa-github:hover {
  transform: scale(1.2);
}
